@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    /* border: solid red; */
}

*::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: #021526;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100vw;
}

.logo, .navbar {
    margin: 0px 1.5rem;
    margin-right: 0px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar ul li a {
    text-decoration: none;
    color: #e1e7ff;
    width: 7rem;
    padding: 8vh 0;
    text-align: center;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: #ffffff;
    color: #021526;
    transition: all .5s ease;
}

.toggleSidebar {
    display: none;
    padding: 5px 5px;
    font-size: 24px;
    background-color: #021526;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
}

.sidebar {
    display: none;
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: -150px;
    background-color: #021526;
    transition: left 0.3s ease;
    z-index: 10;
    overflow: hidden;
}

.sidebar-header {
    background-color: #021526;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    height: 50px;
}

.sidebar-header h1 {
    font-size: 20px;
}

.sidebar-list {
    height: 100vh;
}

.sidebar-list ul {
    list-style: none;
    margin: 0;
}

.sidebar-list ul li {
    margin: 10px 0;
    position: relative;
    transition: all 1s;
}


.sidebar-list ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.close-btn {
    background-color: #021526;
    color: white;
    border: hidden;
    font-size: 30px;
    cursor: pointer;
}

.main-header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

iframe {
    width: 900px;
}

header {
    color: white;
    height: 100vh;
    background-color: #000f1a;
}

header h1 {
    font-size: 4rem;
    color: white;
}

h1 {
    color: white;
    
}

.header-main {
    margin: 0 50px;
    padding: 50px;
    text-align: left;
}

.header-main h1 {
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-size: 4rem;
}

.header-main p {
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-style: italic;
}

.header-main a {
    position: relative;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px 30px;
    transition: all 0.5s ease;
}

.header-main a:hover {
    -webkit-box-shadow:0px 0px 42px 0px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 42px 0px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 42px 0px rgba(255,255,255,0.8);
    border: 1px solid white;
    background-color: transparent;
    color: white;
    transition: all 0.5s ease;
}

.header-description {
    text-align: center;
    margin: 100px;
    margin-top: 120px;
    margin-bottom: 120px;
    line-height: 40px;
    letter-spacing: 2px;
    color: white;
}

.header-description a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    width: 430px;
    background-color: white;
    color: #021526;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    padding: 1px;
    transition: 1s;
}

.article-content {
    text-align: justify;
}

.header-hr {
    width: 100%;
    margin: 10px auto;
}

.animation-arrow-down {
    position: absolute;
    top: 85%;
    left: 49.68%;
    transform: translate(-50%, 0%) rotate(45deg);
    font-size: 25px;
    z-index: 1;
    text-decoration: none;
    text-shadow: 0;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation: fade_move_down 4s ease-in-out infinite;
    animation: fade_move_down 4s ease-in-out infinite;
}


@-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

@-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

@keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

main {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
}

.main-hr {
    width: 95%;
    margin: 0 auto;
}

.main-gallery {
    padding: 0;
    margin: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-container div img {
    transition: 0.5s;
}

.gallery-container img:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.main-gallery button {
    border: none;
    background-color: transparent;
}

.main-gallery a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    width: 430px;
    background-color: white;
    color: #021526;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    padding: 10px;
    transition: 1s;
}

.main-gallery a:hover {
    background-color: transparent;
    border: 1px solid white;
    width: 96%;
    cursor: pointer;
    color: white;
    transition: 1s;
}

.header-description a:hover {
    background-color: transparent;
    border: 1px solid white;
    width: 99.5%;
    cursor: pointer;
    color: white;
    transition: 1s;
}

.gallery-container {
    display: flex;
}

.gallery-container img {
    height: 250px;
    width: 450px;
    border-radius: 5px;
    margin: 20px;
}

.gallery-container .gallery-1{
    transform: translateY(-150px);
}

.gallery-container .gallery-2{
    transform: translateY(-150px);
}

.gallery-container .gallery-3{
    transform: translateY(-150px);
}

.gallery-item { 
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.gallery-item.show { 
    opacity: 1;
    transform: translateY(0);
}

.footer-bio {
    text-align: left;
    background-color: #021526;
    color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.footer-bio h3 {
    font-size: 1.5rem;
}

.footer-contact, .footer-about {
    padding: 10px;
    line-height: 1.5;
    width: 450px;
}

.footer-contact ul, .footer-bio p {
    margin-top: 7px;
}

.footer-contact ul li {
    list-style-type: none;
}

.footer-about p {
    margin-bottom: 10px;
}

.footer-about a {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 5px 20px;
    transition: all 0.4s ease;
}

.footer-about a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.footer-copyright {
    color: white;
    background-color: #021526;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .logo, .navbar {
        margin: 0 10px;
        padding: 0;
        font-size: 12px;
    }

    .logo {
        padding: 10px;
        font-size: 20px;
        margin: auto;
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .toggleSidebar {
        display: block;
    }

    .sidebar {
        display: grid;
        width: 150px;
    }

    .sidebar.open {
        left: 0;
    }

    .animation-arrow-down {
        left: 48.5%;
    }

    .header-description {
        padding: 0;
        padding-top: 120px;
        padding-bottom: 50px;
        margin: 0;
    }

    .article-content {
        word-spacing: 2px;
        font-size: 15px;
    }

    .main-gallery {
        margin: 0;
        padding: 0;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .main-gallery a, .header-description a {
        width: 150px;
    }
    .header-description a:hover {
        width: 99%;
    }

    .main-gallery a:hover {
        width: 83%;
    }

    .gallery-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .gallery-1 img, .gallery-2 img, .gallery-3 img {
        width: 90%;
        height: 90%;
    }

    .gallery-container .gallery-1 {
        transform: translateX(-150px);
    }
    
    .gallery-container .gallery-2 {
        transform: translateX(150px);
    }
    
    .gallery-container .gallery-3 {
        transform: translateX(-150px);
    }
    .gallery-item { 
        opacity: 0;
        transform: translateY(50px); 
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
    }
    
    .gallery-item.show { 
        opacity: 1;
        transform: translateY(0);
    }

    .footer-bio {
        padding: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-contact {
        width: 150px;
        font-size: 12px;
        padding: 2px;
    }
    
    .footer-about {
        font-size: 12px;
        width: 170px;
        padding: 2px;
        padding-bottom: 5px;
    }

    .footer-about a {
        padding: 2px 20px;
    }

    .footer-copyright {
        font-size: 12px;
        padding: 10px;
    }
}