@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    color: white;
}

*::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: #021526;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100vw;
}

.logo, .navbar {
    margin: 0px 6rem;
}

.logo a {
    text-decoration: none;
    color: white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.navbar ul li a {
    text-decoration: none;
    color: #e1e7ff;
    padding: 2.5vh 20px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: #ffffff;
    color: #021526;
    transition: all .5s ease;
}

#plans {
    background-color: #ffffff;
    color: #021526;
}

.main-header {
    background-color: rgba(0, 0, 0, 0.36);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    color: white;
    padding-top: 200px;
    padding-bottom: 150px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 4rem;
    color: white;
}

h1 {
    color: white;
}

main {
    background-color: rgb(0, 0, 0);
    padding: 15px;
}

.plans-1, .plans-2 {
    margin: 50px;
}

.main-hr {
    width: 95%;
    margin: 0 auto;
}

.main-gallery {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-container div img {
    transition: 0.5s;
}

.gallery-container img:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.main-gallery button {
    border: none;
    background-color: transparent;
}

.main-gallery a {
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 15px;
    width: 30%;
    background-color: white;
    color: #021526;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 5px;
    padding: 10px;
    transition: 1s;
}

.main-gallery a:hover {
    background-color: transparent;
    border: 1px solid white;
    width: 100%;
    cursor: pointer;
    color: white;
    transition: 1s;
}

.gallery-container {
    display: flex;
    padding: 15px;
}

.gallery-container img {
    height: 250px;
    width: 450px;
    border-radius: 5px;
    margin: 20px;
}

.gallery-container .gallery-1{
    transform: translateY(-150px);
}

.gallery-container .gallery-2{
    transform: translateY(-150px);
}

.gallery-container .gallery-3{
    transform: translateY(-150px);
}

.gallery-item { 
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; 
}

.gallery-item.show { 
    opacity: 1;
    transform: translateY(0);
}

.footer-bio {
    text-align: left;
    background-color: #021526;
    color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.footer-bio h3 {
    font-size: 1.5rem;
}

.footer-contact, .footer-about {
    padding: 10px;
    line-height: 1.5;
    width: 450px;
}

.footer-contact ul, .footer-bio p {
    margin-top: 7px;
}

.footer-contact ul li {
    list-style-type: none;
}


.footer-about p {
    margin-bottom: 10px;
}

.footer-about a {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 5px 20px;
    transition: all 0.4s ease;
}

.footer-about a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.footer-copyright {
    color: white;
    background-color: #021526;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .logo, .navbar {
        margin: 0 10px;
        padding: 0;
        font-size: 12px;
    }

    .logo {
        padding: 10px;
        font-size: 20px;
        margin: auto;
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .footer-bio {
        padding: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-contact {
        width: 150px;
        font-size: 12px;
        padding: 2px;
    }
    
    .footer-about {
        font-size: 12px;
        width: 170px;
        padding: 2px;
        padding-bottom: 5px;
    }

    .footer-about a {
        padding: 2px 20px;
    }

    .footer-copyright {
        font-size: 12px;
        padding: 10px;
    }
}
