@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

nav {
    background-color: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    transition: top 0.6s;
}

.logo, .navbar {
    margin: 0px 1.5rem;
    margin-right: 0px;
}

.logo a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    width: 7rem;
    padding: 3vh 0;
    text-align: center;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: #ffffff;
    color: black;
    transition: all .5s ease;
}

#about {
    background-color: #ffffff;
    color: black;
}

.toggleSidebar {
    display: none;
    padding: 0 5px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
}

.sidebar {
    display: none;
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
    left: -150px;
    background-color: #021526;
    transition: left 0.3s ease;
    overflow: hidden;
    z-index: 10;
}

.sidebar-header {
    background-color: #021526;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    height: 50px;
}

.sidebar-header h1 {
    font-size: 20px;
}

.sidebar-list {
    height: 100vh;
}

.sidebar-list ul {
    list-style: none;
    margin: 0;
}

.sidebar-list ul li {
    margin: 10px 0;
    position: relative;
    transition: all 1s;
}


.sidebar-list ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px;
}

.close-btn {
    background-color: #021526;
    color: white;
    border: hidden;
    font-size: 30px;
    cursor: pointer;
}

.main-header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    color: white;
    background-color: #000f1a;
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 4rem;
    color: white;
}

h1 {
    color: white;
    
}

.header-main {
    width: 90%;
    padding: 50px 0;
    text-align: center;
}

main .contact12{
    display: grid;
    border: #ffffff;
}

main {
    background-color: rgb(0, 0, 0);
    padding: 100px;
}

.footer-bio {
    text-align: left;
    background-color: #021526;
    color: white;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
}

.footer-bio h3 {
    font-size: 1.5rem;
}

.footer-contact, .footer-about {
    padding: 10px;
    line-height: 1.7;
    width: 450px;
}

.footer-contact ul, .footer-bio p {
    margin-top: 7px;
}

.footer-contact ul li {
    list-style-type: none;
}

.footer-about p {
    margin-bottom: 10px;
}

.footer-about a {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 5px 20px;
    transition: all 0.4s ease;
}

.footer-about a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.footer-copyright {
    color: white;
    background-color: #021526;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .logo, .navbar {
        margin: 0 10px;
        padding: 0;
        font-size: 12px;
    }

    .logo {
        padding: 10px;
        font-size: 20px;
        margin: auto;
        text-align: center;
    }

    .navbar {
        display: none;
    }

    .toggleSidebar {
        display: block;
    }

    .sidebar {
        display: grid;
        width: 150px;
    }

    .sidebar.open {
        left: 0;
    }

    .header-main h1 {
        font-size: 3rem;
        color: white;
    }

    .footer-bio {
        padding: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer-contact {
        width: 150px;
        font-size: 10px;
        padding: 2px;
    }
    
    .footer-about {
        font-size: 10px;
        width: 170px;
        padding: 2px;
        padding-bottom: 5px;
    }

    .footer-about a {
        padding: 2px 20px;
    }

    .footer-copyright {
        font-size: 12px;
        padding: 10px;
    }
}
